<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <title>abay mart</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
</head>
<body>
 <section class="bg-[#3B82E0] w-full p-8">  
<nav class="bg-white sticky z-0 rounded-xl ml-8 shadow-lg  border-gray-200 max-w-[95%] dark:bg-gray-900">
    <div class="max-w-screen-xl  flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img  src="/image/abay-mart-logo.jpg"  class="h-10" alt="abay-mart-logo" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li class="my-1 text-lg">
            <a href="#" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
          </li>
          <li class="my-1 text-lg">
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </li>
          <li class="my-1 text-lg">
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
          </li>
          <li class="my-1 text-lg">
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
          </li>
          <li class="my-1 text-lg">
            <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
</section> 

  <main>
   
    <div class="hero z-20 bg-[#3B82E0]" id="home" >
        <div class="flex flex-row"
         data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">
            <div class="flex flex-col justify-center items-center">
                <!-- Add the 'animate__animated' and 'animate__fadeInUp' classes above -->
                <h1 class="text-[55px] font-bold  text-white max-w-[80%]"><%= banners[0].title %></h1>
                <button class="bg-[#F66604] mt-10 mr-10 justify-end text-white font-semibold w-40 h-10 rounded-2xl"><%= banners[0].buttonText %></button>
            </div>
            <div>
                <img  src="http://localhost:5000/images/<%= banners[0].image %>" alt="shopping">
            </div>
        </div>
    </div>

    <div class="about flex flex-row justify-center bg-gradient-to-b from-[#3B82E0] to-white" id="about">
     <div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <img src="http://localhost:5000/images/<%= banners[1].image %>"  class="w-[90%]" alt="online shopping ">
     </div>
     <div class="w-1/3 flex flex-col justify-center items-center"
     data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500"
     >
        <h2 class="text-[40px] font-bold"><%= banners[1].title%></h2>
        <p class="leading-8"><%= banners[1].description %>.
        </p>
        <button class="bg-[#F66604] mt-10 mr-10 justify-end text-white font-semibold w-40 h-10 rounded-2xl"><%= banners[1].buttonText %></button>
    </div>
    </div>

    <section id="values">
        <div class="flex flex-col justify-center items-center">
        <h5 class="text-[#064F4F] font-bold mt-4 uppercase">Why Choose us </h5>
        <h2 class="text-[30px] font-bold mt-5">Our Values</h2>
       </div>
         
        <div class="flex flex-row justify-center mt-14">
            <% values.forEach(value => { %>
                <div class="flex flex-col items-center" 
                 data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500" >
                    <img src="http://localhost:5000/images/<%= value.image %>" alt="">
                    <h5 class="text-[#DC1B1B] font-semibold m-4 text-[20px]"><%=value.title %></h5>
                    <p class="w-1/2 text-center font-semibold"><%=value.description %></p>
                </div> 
           <% }); %>
                
         </div>
    </section>

    <section id="product">
        <div class="flex flex-col justify-center items-center mt-14 ">
            <h4 class="uppercase text-[#064F4F]">products</h4>
            <h2 class="text-[30px] font-bold">Explore  popular catagories </h2>
        </div>
         
        <div class="md:grid grid-cols-3 md:grid-cols-5  gap-x-10 m-20">
            <% products.forEach(product => { %>
                <div class="shadow-2xl rounded-2xl mt-10 p-2  flex justify-center flex-col items-center" 
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500" >
                <img src="http://localhost:5000/images/<%= product.image %>" alt="">
                <h3 class="font-bold" ><%=product.description %></h3>
                <p class="price">Price <%=product.price %>$</p>
                <div class="flex">
                    <img src="/image/star.png" class="w-5 h-5" alt="">
                    <p class="rating">4.9</p>
                    <div class=" w-20 flex flex-grow">1</div>
                    <img src="/image/littleImage.png" class="little" alt="">
                </div>
            </div> 
         <%   }); %>
           
        </div>
    </section>

    <section class="testimony"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
    >
        <div class="flex flex-col justify-center items-center">
            <p class="uppercase text-[17px] font-semibold mt-5 text-[#064F4F]">testimonials</p>
            <h3 class="font-bold text-black text-[45px] first-letter:uppercase">Read What others  Have to say</h3>
        </div>

        <div class="testimony flex-col md:flex-row md:flex justify-center items-center gap-14 m-20">
            <% testimonys.forEach(testimony => { %>
                <div class="bg-[#8D8DD5] mt-10 rounded-2xl flex flex-col justify-center items-center">
                    <img src="http://localhost:5000/images/<%= testimony.image %>" class="-mt-14 h-28 w-28 rounded-full" alt="">
                    <h3 class="font-bold text-white text-[23px] mt-5">-<%= testimony.name %></h3>
                    <p class="p-6 text-white"><%= testimony.description  %></p>
                </div>
          <%  }); %>
          
        </div>
    </section>

     <section id="contact" >
        <div class="flex flex-col justify-center items-center">
            <p class="uppercase text-[#064F4F]">Contact us </p>
            <h3 class="text-black text-[35px]">Get in touch</h3>
        </div>
        <div
    
         class="flex py-10 bg-gradient-to-b from-white to-[#7c7c82] flex-row justify-center items-center gap-32">
            <p
            data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500"
            ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.4917358402026!2d38.79768870791539!3d9.018826791004726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768
                !4f13.1!3m3!1m2!1s0x164b8f3eb194fd17%3A0xc1ed55aec6a3c45f!
                2zQWJheSBNYXJ0IOGKoOGJo-GLrSDhjIjhiaDhi6s
                !5e0!3m2!1sen!2set!4v1705665383556!5m2!1sen!2set" width="500" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

 <div 
 
>
<form class="max-w-sm mx-auto"
data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500"
>
    <div class="mb-8">
      <input type="name" id="name" name="name"  class="shadow-xl w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:border-blue-500 dark:shadow-xl-light" placeholder="Your Name" required>
    </div>
    <div class="mb-8">
      <input type="email" id="email" name="email" class="shadow-xl bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:border-blue-500 dark:shadow-xl-light" placeholder="Your Email" required>
    </div>
    <div class="mb-8">
      <input type="text" id="subject" name="subject" class="shadow-xl bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:border-blue-500 dark:shadow-xl-light" placeholder="Your Email" required>
    </div>
    <div class="mb-8">
      <input type="text" id="message" name="message"  class="h-20 shadow-xl bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:border-blue-500 dark:shadow-xl-light" placeholder="Your Email" required>
    </div>
    
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send Your Message</button>
  </form>
  
                </div>
        </div>
     </section>
  </main>
  

<footer class="bg-[#2F2E41] text-white flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-5  py-10  ml-[10%] " >
        <div class="sm:mt-0 my-10">
            <img src="http://localhost:5000/images/<%= websettings[0].logo %>" alt="abay-mart-logo">
            <h3 class="">
                <h2 class="text-lg font-semibold"><%= websettings[0].description %></h2>

            </h3> 
        </div>
        <div class="ml-10 my-10">
            <ul>
                <h2 class="mb-4 font-semibold text-xl">Abay Mart</h2>
                  <li class="my-1 text-lg">
                    <a href="/">Home</a>
                  </li>
                  <li class="my-1 text-lg">
                    <a href="#about">About Us</a>
                  </li>
                  <li class="my-1 text-lg">
                    <a href="#contact">Contact Us</a>
                  </li>
                  <li class="my-1 text-lg">
                    <a href="#values">Values</a>
                  </li>
                  <li class="my-1 text-lg">
                    <a href="#testimony">Testimony</a>
                  </li>
                  <li class="my-1 text-lg">
                    <a href="#product">Products</a>
                  </li>
            </ul>
        </div>

        <div class="my-10">
            <h3 class="mb-4 text-xl">Legal</h3>
            <p class="my-1 text-lg">Terms of Use</p>
            <p class="my-1 text-lg">Privacy and Policy</p>
            <p class="my-1 text-lg">Terms and Condition</p>
        </div>

        <div class="my-10">
         <h3 class="mb-4 text-xl">CONTACT US</h3>
         <div class="my-3">
            <span class="mr-5 inline"> <img src="/image/letter.png" class="inline-block" alt="email">  </span>
            <h4 class="inline text-[#2673DD]"><%= websettings[0].email %> </h4>
         </div>
         <div class="my-3">
            <span class="mr-5"> <img src="/image/phone.png" class="inline-block" alt="email">  </span>
            <h4 class="inline  text-[#2673DD]"><%= websettings[0].phone %></h4>
         </div>
         <div class="my-3">
            <span class="mr-5"> <img src="/image/location.png" class="inline-block" alt="email">  </span>
            <span class="inline-block text-[#2673DD]">
                <h2><%= websettings[0].location %></h2>
                <h2><%= websettings[0].address %></h2>
                <h2><%= websettings[0].street %></h2>
               
               </span>
            </div>
        </div>

        <div class=" ml-0 sm:ml-10 justify-center my-10 items-center">
            <a href="/"> 
                <img src="/image/Instagram.png" class="my-7" alt="">
            </a>
            <a href="/">
                <img src="/image/Telegram.png" class="my-7" alt="">
            </a>
            <a href="/">
                <img src="/image/Facebook.png" class="my-7" alt="">
            </a>
         </div>
    </div>
</footer>

<script>
    
</script>
<script>
    AOS.init();
  </script>
</body>
</html>