<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <title>abay mart</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  
  <!-- for swiper  -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<!--  
bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<link rel="stylesheet" href="styles.css">

</head>
<body class="overflow-x-hidden" >
 <section class=" w-full">  
<nav class="bg-white sticky z-0 rounded-xl  shadow-lg  -gray-200 w-full dark:bg-gray-900">
    <div class="max-w-screen-xl  flex flex-wrap items-center justify-between ">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img  src="/image/5.png"  class="h-14" alt="abay-mart-logo" />
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0   -gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:-gray-700">
          <li class=" text-lg">
            <a href="/" class="block  px-0 text-black bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
          </li>
          <li class=" text-lg">
            <a href="#about" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
          </li>
          <li class=" text-lg">
            <a href="#product" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Product</a>
          </li>
          <li class=" text-lg">
            <a href="#values" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Values</a>
          </li>
          <li class=" text-lg">
            <a href="#testimony" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Testimony</a>
          </li>
          <li class=" text-lg">
            <a href="#contact" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                <button class="bg-[#F66604]  justify-end text-white font-semibold w-24 h-8 rounded-2xl">Contact</button>
            </a>
          </li>
          <li class=" text-lg">
            <a href="/user/view" class="block  px-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                <button class="bg-[#F66604]  mr-10 justify-end text-white font-semibold w-24 h-8 rounded-2xl">Signin</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav> 
</section> 

  <main>
    
    <section class="">
      <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    
        <div class="carousel-inner">
          <div class="carousel-item active c-item">
            <img src="/image/screem.jpg" class="d-block w-100 c-img" alt="Slide 1">
            <div class="carousel-caption top-0 mt-4">
              <p class="mt-5 fs-3 text-uppercase animate__animated  animate__backInDown">Just Landed: Explore What's New</p>
              <h1 class="display-1 fw-bolder  text-capitalize ">Be First to Grab the Latest Arrivals</h1>
              <button class="btn btn-primary hover:text-white px-4  fs-5 mt-5">
                <a href="#about" class="hover:text-white">Learn More</a>
              </button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="/image/cCake1.jpg" class="d-block w-100 c-img" alt="Slide 2">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase animate__animated  animate__backInDown fs-3 mt-5" data-aos="zoom-in">Don't Miss Out on Our Exclusive Sale</p>
              <p class="display-1 fw-bolder text-capitalize ">Save Big on Your Favorites Today</p>
              <button class="btn btn-primary hover:text-white px-4  fs-5 mt-5">
                <a href="#about" class="hover:text-white">Learn More</a>
              </button>
            </div>
          </div>
          <div class="carousel-item c-item">
            <img src="/image/cSomething.jpg" class="d-block w-100 c-img" alt="Slide 3">
            <div class="carousel-caption top-0 mt-4">
              <p class="text-uppercase animate__animated  animate__backInDown fs-3 mt-5" data-aos="zoom-in">Quality That Speaks for Itself</p>
              <p class="display-1 fw-bolder text-capitalize ">Your One-Stop Shop for Premium Products</p>
              <button class="btn btn-primary hover:text-white px-4  fs-5 mt-5">
                <a href="#about" class="hover:text-white">Learn More</a>
              </button>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>
      
    <div class="about my-20 flex flex-col sm:flex sm:flex-row items-center justify-center ml-[5%] w-[90%] bg-white" id="about">
     <div data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
        <img src="http://localhost:5000/images/<%= banners[1].image %>"  class="w-full" alt="online shopping ">
     </div>
     <div class="w-full flex flex-col justify-center ml-10 max-w-[50%] items-center"
     data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500"
     >
        <h2 class="text-[40px] font-bold text-center"><%= banners[1].title%></h2>
        <p class="leading-8 w-full text-center"><%= banners[1].description %>.
        </p>
        <button class="bg-[#F66604] mt-10 mr-10 justify-end text-white font-semibold w-40 h-10 rounded-2xl"><%= banners[1].buttonText %></button>
    </div>
    </div>

    <section id="values">
        <div class="flex flex-col justify-center items-center">
        <h5 class="text-[#064F4F] font-bold mt-4 uppercase">Why Choose us </h5>
        <h2 class="text-[30px] font-bold mb-5 mt-5">Our Values</h2>
       </div>
         
       <div class="flex sm:flex-row flex-col sm:my-0 my-3 justify-center mt-20">
        <% for(let i = 0; i < values.length; i++) { %>
            <div class="flex flex-col items-center mx-10 max-w-[40%] rounded-lg bg-[#8D8DD5] animate_animated animate__backInUp"
                 data-aos="fade-up"
                 data-aos-easing="linear"
                 data-aos-duration="800"
                 data-aos-delay="<%= i * 500 %>" > <!-- Here we use the loop's index to stagger the animations -->
                <img src="http://localhost:5000/images/<%= values[i].image %>" alt="">
                <h5 class="text-white font-bold m-4 text-2xl"><%= values[i].title %></h5>
                <p class="w-3/5 text-center text-white pb-4 font-semibold"><%= values[i].description %></p>
            </div> 
        <% } %>
    </div>
    
    </section>

    <section id="product">
        <div class="flex flex-col justify-center items-center mt-14 ">
            <h4 class="uppercase text-[#064F4F]">products</h4>
            <h2 class="text-[30px] font-bold">Explore  popular catagories </h2>
        </div>
         
        <div class="md:grid grid-cols-3 md:grid-cols-5  gap-x-10 m-20">
            <% products.forEach(product => { %>
                <div class="shadow-2xl rounded-2xl mt-10 p-2  flex justify-center flex-col items-center" 
                data-aos="fade-down"
                data-aos-easing="linear"
                data-aos-duration="1500" >
                <img src="http://localhost:5000/images/<%= product.image %>" alt="">
                <h3 class="font-bold" ><%=product.description %></h3>
                <p class="price">Price <%=product.price %>$</p>
                <div class="flex">
                    <img src="/image/star.png" class="w-5 h-5" alt="">
                    <p class="rating">4.9</p>
                    <div class=" w-20 flex flex-grow">1</div>
                    <img src="/image/littleImage.png" class="little" alt="">
                </div>
            </div> 
         <%   }); %>
           
        </div>
    </section>

    <section class="testimony"
    data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500"
    >
        <div class="flex flex-col justify-center items-center">
            <p class="uppercase text-[17px] font-semibold mt-5 text-[#064F4F]">testimonials</p>
            <h3 class="font-bold text-black text-[45px] first-letter:uppercase">Read What others  Have to say</h3>
        </div>
        
        <!-- Swiper -->
<div class="swiper-container swiper-wrapper-custom testimony-slider m-20">
    <div class="swiper-wrapper">
      <% testimonys.forEach(testimony => { %>
      <div class="swiper-slide">
        <div class="bg-[#8D8DD5] mt-10 rounded-2xl flex flex-col justify-center items-center">
          <img src="http://localhost:5000/images/<%= testimony.image %>" class="-mt-14 h-28 w-28 rounded-full" alt="">
          <h3 class="font-bold text-white text-[23px] mt-5">-<%= testimony.name %></h3>
          <p class="p-6 text-white"><%= testimony.description %></p>
        </div>
      </div>
      <% }); %>
    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div>
    Add Navigation
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  </div>
  
  <style>
.swiper-wrapper-custom {
    max-height: 600px;
    max-width: 1200px; /* Adjust this value as needed */
    margin: auto; /* Centers the swiper */
    padding: 20px; /* Adds some space around the swiper, optional */
    overflow: hidden; /* Prevents horizontal scrolling caused by wide slides */
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>

    
    </style
    </section>

     <section id="contact" >
        <div class="flex flex-col justify-center items-center">
            <p class="uppercase text-[#064F4F]">Contact us </p>
            <h3 class="text-black text-[35px]">Get in touch</h3>
        </div>
        <div
    
         class="flex py-10 bg-gradient-to-b from-white to-[#7c7c82] flex-row justify-center items-center gap-32">
            <p
            data-aos="fade-down"
            data-aos-easing="linear"
            data-aos-duration="1500"
            ><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.4917358402026!2d38.79768870791539!3d9.018826791004726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768
                !4f13.1!3m3!1m2!1s0x164b8f3eb194fd17%3A0xc1ed55aec6a3c45f!
                2zQWJheSBNYXJ0IOGKoOGJo-GLrSDhjIjhiaDhi6s
                !5e0!3m2!1sen!2set!4v1705665383556!5m2!1sen!2set" width="500" height="375" style=":0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>

 <div 
 
>
<form class="max-w-sm mx-auto" action="/message/create-message" method="post"
data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500"
>
    <div class="mb-8">
      <input type="name" id="name" name="name"  class="shadow-xl w-96 bg-gray-50  -gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:-blue-500 block  p-2.5 dark:bg-gray-700 dark:-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:-blue-500 dark:shadow-xl-light" placeholder="Your Name" required>
    </div>
    <div class="mb-8">
      <input type="email" id="email" name="email" class="shadow-xl bg-gray-50  -gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:-blue-500 dark:shadow-xl-light" placeholder="Your Email" required>
    </div>
    <div class="mb-8">
      <input type="text" id="subject" name="subject" class="shadow-xl bg-gray-50  -gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:-blue-500 dark:shadow-xl-light" placeholder="Your Subject" required>
    </div>
    <div class="mb-8">
      <input type="text" id="message" name="message"  class="h-20 shadow-xl bg-gray-50  -gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:-gray-600 dark:placeholder-gray-[#5C5C5C] dark:text-white dark:focus:ring-blue-500 placeholder:text-[#5C5C5C] placeholder:text-[16px] placeholder:font-semibold dark:focus:-blue-500 dark:shadow-xl-light" placeholder="Your Message" required>
    </div>
    
    
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 text-center dark:bg-blue-600 py-3 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Send Your Message</button>
  </form>
  
                </div>
        </div>
     </section>
  </main>
  

<footer class="bg-[#2F2E41] text-white flex justify-center items-center">
    <div class="grid grid-cols-1 sm:grid-cols-5  py-10  ml-[10%] " >
        <div class="sm:mt-0 0">
            <img src="http://localhost:5000/images/<%= websettings[0].logo %>" class="h-[0%]" alt="captain-mart-logo">
            <h3 class="">
                <h2 class="text-lg font-semibold"><%= websettings[0].description %></h2>

            </h3> 
        </div>
        <div class="ml-10 0">
            <ul>
                <h2 class="mb-4 font-semibold text-xl">Abay Mart</h2>
                  <li class=" text-lg">
                    <a href="/">Home</a>
                  </li>
                  <li class=" text-lg">
                    <a href="#about">About Us</a>
                  </li>
                  <li class=" text-lg">
                    <a href="#contact">Contact Us</a>
                  </li>
                  <li class=" text-lg">
                    <a href="#values">Values</a>
                  </li>
                  <li class=" text-lg">
                    <a href="#testimony">Testimony</a>
                  </li>
                  <li class=" text-lg">
                    <a href="#product">Products</a>
                  </li>
            </ul>
        </div>

        <div class="0">
            <h3 class="mb-4 text-xl">Legal</h3>
            <p class=" text-lg">Terms of Use</p>
            <p class=" text-lg">Privacy and Policy</p>
            <p class=" text-lg">Terms and Condition</p>
        </div>

        <div class="0">
         <h3 class="mb-4 text-xl">CONTACT US</h3>
         <div class="my-3">
            <span class="mr-5 inline"> <img src="/image/letter.png" class="inline-block" alt="email">  </span>
            <h4 class="inline text-[#2673DD]"><%= websettings[0].email %> </h4>
         </div>
         <div class="my-3">
            <span class="mr-5"> <img src="/image/phone.png" class="inline-block" alt="email">  </span>
            <h4 class="inline  text-[#2673DD]"><%= websettings[0].phone %></h4>
         </div>
         <div class="my-3">
            <span class="mr-5"> <img src="/image/location.png" class="inline-block" alt="email">  </span>
            <span class="inline-block text-[#2673DD]">
                <h2><%= websettings[0].location %></h2>
                <h2><%= websettings[0].address %></h2>
                <h2><%= websettings[0].street %></h2>
               
               </span>
            </div>
        </div>

        <div class=" ml-0 sm:ml-10 justify-center 0 items-center">
            <a href="/"> 
                <img src="/image/Instagram.png" class="my-7" alt="">
            </a>
            <a href="/">
                <img src="/image/Telegram.png" class="my-7" alt="">
            </a>
            <a href="/">
                <img src="/image/Facebook.png" class="my-7" alt="">
            </a>
         </div>
    </div>
</footer>



<script>
  var swiper = new Swiper('.testimony-slider', {
    slidesPerView: 3, // Show 3 slides per view
    spaceBetween: 30, // Space between slides in px
    loop: true,
    centeredSlides: true,
    autoplay: {
        delay: 2500,
        disableOnInteraction: false,
    },
    pagination: {
        el: '.swiper-pagination',
        clickable: true,
    },
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    // Responsive breakpoints
    breakpoints: {
        // when window width is <= 640px
        440: {
            slidesPerView: 1,
            spaceBetween: 20
        },
        // when window width is <= 768px
        768: {
            slidesPerView: 2,
            spaceBetween: 30
        },
        // when window width is <= 1024px
        1024: {
            slidesPerView: 3,
            spaceBetween: 30
        },
    }
});

  </script>
  
<script>
    AOS.init();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>